<!--
  Generated template for the InvitadoVerpostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>{{articulo.title}}</h1>
  <ion-item>
    <ion-avatar item-start>
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <h2>{{articulo.author}}</h2>
    <p>En Bloque64</p>
    <p item-end>{{articulo.created | date: 'dd/MM/yyyy H:mm'}}</p>
  </ion-item>
  <div class="spacer" style="width:100px;height:49px;"></div>
  <ion-item>
    <div item-content class="markdown" [innerHtml]="content">
    </div>
  </ion-item>
  <div class="spacer" style="width:50px;height:49px;"></div>

  <div *ngFor="let tag of tags">
    <button inline class="btntag" ion-button small>tag</button>
  </div>

    <div class="spacer" style="width:50px;height:49px;"></div>

    <ion-item *ngFor="let comment of coments">
      <h2>{{comment.author}} {{comment.created | date: 'dd/MM/yyyy H:mm'}}</h2>
      <p>{{comment.body}}</p>
    </ion-item>
</ion-content>